<!DOCTYPE html>
<html>
  <head>
    <title>MoveSafe - Safe Path</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="/css/MoveSafe.css" rel="stylesheet">
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>
  <body>

<!--<div class="topnav">-->
  <!--<a href="javascript:history.back()" id="navigationBar">Back</a>-->
  <!--<a href="/" id="navigationBar-active">Home</a>-->
  <!--<a padding="100px" id="navigationBarTitle" style="position:absolute;right:0;font-weight:bold; font-family:Century Gothic" align="right">Move Safe</a>-->
<!--</div>-->
<div >
    <h1 align="center"> Move Safe</h1>
    <h3 align="center">Find A Safe Path</h3>
</div>

<br>
<!--place holder--> 
  <form action="/safePath" method="post">
    <div class="form-group centered">
        <img src="images/A_Point.png" height="18" width="15">
        <input required id="origin-input" class="controls"  type="text" name="start" placeholder="enter an origin location">
      <!--<button  id="reset-button-start" onclick="clearTextStart()">x</button>-->
    </div>
    <div class="form-group centered">
        <img src="images/B_Point.png" height="18" width="20">
        <input required id="destination-input" class="controls"  type="text" name="destination" placeholder="enter a destination location">
      <!--<button  id="reset-button-dest" onclick="clearTextDest()">x</button>-->
    </div>
    <br>
    <div class="form-group centered">
      <div class="col-sm-offset-2 col-sm-10">
        <button style="margin-bottom:5px" type="submit">Search</button>
      </div>
    </div>
  </form>
    <div align="center" >
        <div style="width: 50vw; max-width:500px; border: solid">
            <p>Safety Tip:</p>
            <p>{{tip}}</p>
        </div>
    </div>
<script src="/js/MoveSafe.js"></script>
<!--<script src="/routes/SafePath.js"></script>-->
  </body>
</html>