<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>MoveSafe - Safe Path</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="/css/MoveSafe.css" rel="stylesheet">
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="/css/bootstrap.css" rel="stylesheet">
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
      <script src="/js/API_Directions-complex.js"></script>
   
   <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS6-vX7RQf9E6NV3F5rytl_Eh_ALQNIlE&callback=initMap">
    </script>
          <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<script src="js/GooglePlaces.js"></script> 

    <style>
      #address td {
        font-size: 10pt;
      }
    </style>
  </head>
  <body>

=======
      <title>MoveSafe</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/css/MoveSafe.css" rel="stylesheet">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <!--bootstrap-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <link href="/css/Directions-complex.css">
</head>
<body>
  <div class="topnav card-block">
      <div>
          <a style="position:absolute;left:25vw;" id="navigationBarTitle" >Find a Safe Path</a>
      </div>
  </div>
  <div class="navBar card-block" style="text-align: center">
      <a href="/index" id="navigationBar hover" style="color:white; align: center">Home</a>
      <a href="javascript:history.back()" style="color:white; float: left; padding-left: 10%">Back</a>
      <a href="/" style="color:white; float: right; padding-right: 10%">Logout</a>
  </div>
>>>>>>> 610755c09a2481e8dea5f7b58dcf380a7125fdc8

<!--place holder--> 
<div class="cardboard" style="position:relative;top:-1vh" padding="10px">
  <form action="/safePath" method="post">
    <div class="form-group centered" style="position:relative;top:2vh">
        <img src="images/A_Point.png" height="22" width="15">
        <input required id="origin-input" class="controls"  type="text" name="start" value="{{start}}" style :placeholder="enter an origin location">
    </div>
    <div class="form-group centered" style="position:relative;top:0vh">
        <img src="images/B_Point.png" height="22" width="20" style="margin:0 0 5px 0;">
        <input required id="destination-input" class="controls"  type="text" name="destination" value="{{destination}}" placeholder="enter a destination location">
      <!--<button  id="reset-button-dest" onclick="clearTextDest()">x</button>-->
    </div>
    <div class="form-group centered" style="position:relative;top:0vh">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary" style="margin:-5px 10vw 0 61vw; height:22px; width:90px; font-size:14px; line-height:2px; font-family:Century Gothic;" type="submit">Search</button>
        <br><br>
      </div>
    </div>
  </form>
</div>
</div>

<div class="cardboard" style="position:relative;top:-1vh" padding="10px">
<div class="col-md-6 main-div mx-auto" >
    <div class="card" style="margin:30px 0 0 0;">
        <div class="card-block" style="width: 91vw";>
            <div class="card-header" style="font-family:Century Gothic; ">
                <h3 style="margin:0 0 0 40px">Safety tip of the day</h3>
            </div>
        </div>
    </div>
</div>
    <div>
        <div style="width: 60vw; max-width:500px;">
          <div class="row">
<div class="col-6 col-md-4" >
            <p style="font-family: Brush Script MT, Brush Script Std, cursive; font-style: italic;font-size:3vh;position: relative;right:-20vw;top:3vh">{{tip}}</p>
          </div>
            <div class="col-6 col-md-4" >
              <img src="images/gale_Henry.jpg" height="150" width="110" style="position: relative;right:-25vw;top:1vh">
            </div>
        </div>
    </div>
  </div>
<script src="/js/MoveSafe.js"></script>
<!--<script src="/routes/SafePath.js"></script>-->
  </body>
</html>