<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="/css/MoveSafe.css" rel="stylesheet">
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="/css/bootstrap.css" rel="stylesheet">
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


  </head>

  <body>


    <div class="topnav card-block center-block" style="position:relative; top:12vh;width:90vw;border-radius: 4px;">
      <a padding="100px"  id="navigationBarTitle" align="right">MoveSafe</a>
    </div>

<div class="loginCard center-block" style="position:relative; top:12vh;">
<div  style="position:relative; top:5vh; bottom:3vh">
    <div class="LogIn">
        <div class="logIn">
            <div class="form-group col-md-6">
                <input type="email" class="form-control center-block" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted" style="font-size:15px; padding: 10px 5px 10px 28px;">We'll never share your email.</small>
            </div>
            <div class="form-group col-md-6" style="position:relative;top:2vh">
                <input type="password" class="form-control center-block" id="exampleInputPassword1" placeholder="Enter password">
                <small id="emailHelp" class="form-text text-muted" style="font-size:15px; padding: 10px 5px 5px 28px;">New user ? Sign up below or log in with Fb !</small>
            </div>

            <a href='/index' class="centered center-block"><button type="submit" class="btn btn-primary text-center" style="margin-auto;width: 80vw; max-height:40px; font-size: 20px;position:relative;top:8vh">Login</button></a>
        </div>
  </div>
</div>
</div>
</div>



<div class="loginCard center-block" style="position:relative; top:20vh;height:9vh;width: 90vw">
<div  style="position:relative; top:3vh; bottom:3vh">

<div>
  <a href='/signup'>
    <button type="submit" class="btn btn-success text-center" style="margin:10px 0px 0px 20px; width: 50vw; max-height:40px; max-width:170px; font-size: 20px; position: relative;left-align;top:-3vh">Sign Up</button>
  </a>
</div>

<div class="LogIn">
    <div class="logIn">
      <div class="facebookLogin"data-size="large" data-width="100%">
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"style="position:relative;left:58vw;top:-7vh">
        </fb:login-button>
      </div>

    <div class="FBLoggedInPlaceHolder">
        <h1 class="FBsuccess centered" style="color:#007bff; font-style:italic; font-family: 'Apple Chancery';"></h1>
        <br>

        <p class="FBinsertname centered" style="font-size: 20px;"></p>
        <img class="FBPhoto img-responsive" src="" />
        <a href='/index' class="centered"></a>
    {{> facebook}}
    </div>
</div>

</div>
</div>
</div>





    <script src="/js/facebook.js"></script>
  </body>
</html>