<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="/css/MoveSafe.css" rel="stylesheet">
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="/css/bootstrap.css" rel="stylesheet">
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


  </head>

  <body>


    <div class="topnav card-block">
      <a padding="100px" id="navigationBarTitle" align="right">MoveSafe</a>
    </div>
    <br>
    <br>

    <div class="LogIn">
        <br>
        <br>
        <div class="logIn">
            <div class="form-group col-md-6">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted" style="font-size:15px; padding: 5px 5px 5px 5px;">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group col-md-6">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password" style=" padding: 5px 5px 5px 5px;">
                <small id="emailHelp" class="form-text text-muted" style="font-size:15px; padding: 5px 5px 5px 5px;">New user? Sign up below!</small>
            </div>
        </div>


            <br>
            <br>
            <a href='/index'><button type="submit" class="btn btn-primary text-center" style="margin:10px 0px 0px 20px; width: 45vw; max-height:40px; max-width:150px; font-size: 20px;">Login</button></a>
            <a href='/signup'><button type="submit" class="btn btn-primary text-center" style="margin:10px 0px 0px 20px; width: 45vw; max-height:40px; max-width:150px; font-size: 20px;">Sign Up</button></a>

    </div>



    <div class="facebookLogin">
        <p style="font-size:20px; padding: 15px 5px 5px 25px; text-decoration:underline;">You can also log in through Facebook!</p>
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"style="padding-left: 38%;">
        </fb:login-button>
    </div>

    <div class="FBLoggedInPlaceHolder">
        <h1 class="FBsuccess centered" style="color:#007bff; font-style:italic; font-family: 'Apple Chancery';"></h1>
        <br>

        <p class="FBinsertname centered" style="font-size: 20px;"></p>
        <img class="FBPhoto img-responsive" src="" />
        <a href='/index' class="centered"></a>

    </div>

    {{> facebook}}
    <script src="/js/facebook.js"></script>
  </body>
</html>