<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="/css/MoveSafe.css" rel="stylesheet">
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="/css/bootstrap.css" rel="stylesheet">
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


  </head>

  <body>


    <div class="topnav card-block">
      <a padding="100px" id="navigationBarTitle" align="right">MoveSafe</a>
    </div>
    <br>
    <br>


    <!--<form action="/index">-->
        <!--<div class="form-group col-md-6">-->
            <!--<label for="exampleInputEmail1" style="font-weight:bold; font-size:40px; padding: 5px 5px 5px 5px;">Email address</label>-->
            <!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style="font-size:30px; padding: 5px 5px 5px 5px; height: 43px;">-->
            <!--<small id="emailHelp" class="form-text text-muted" style="font-size:18px; padding: 5px 5px 5px 5px;">We'll never share your email with anyone else.</small>-->
        <!--</div>-->
        <!--<div class="form-group col-md-6">-->
            <!--<label for="exampleInputPassword1" style="font-weight:bold; font-size:40px; padding: 5px 5px 5px 5px;">Password</label>-->
            <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password" style="font-size:30px; padding: 5px 5px 5px 5px; height: 43px;">-->
            <!--<small id="emailHelp" class="form-text text-muted" style="font-size:18px; padding: 5px 5px 5px 5px;">New user? Sign up below!</small>-->
        <!--</div>-->
        <!--<br>-->
        <!--<br>-->
        <!--<button type="submit" class="btn btn-primary text-center" style="margin:10px 0px 0px 20px; height:45px; width:170px; font-size: 25px;">Login</button>-->
        <!--<button type="submit" class="btn btn-primary text-center" style="margin:10px 0px 0px 20px; height:45px; width:170px; font-size: 25px;">Sign Up</button>-->
        <!--&lt;!&ndash;<button type="submit" class="btn btn-primary text-center">Login</button>&ndash;&gt;-->
     <!--</form>   -->
     <!--<a href='/add' class="btn btn-primary text-center">Sign Up</a>-->
    <div class="logIn">
        <div class="form-group col-md-6">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted" style="font-size:15px; padding: 5px 5px 5px 5px;">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password" style=" padding: 5px 5px 5px 5px;">
            <small id="emailHelp" class="form-text text-muted" style="font-size:15px; padding: 5px 5px 5px 5px;">New user? Sign up below!</small>
        </div>
    </div>


        <br>
        <br>
        <a href='/index'><button type="submit" class="btn btn-primary text-center" style="margin:10px 0px 0px 20px; width: 45vw; max-height:40px; max-width:150px; font-size: 20px;">Login</button></a>
        <a href='/signup'><button type="submit" class="btn btn-primary text-center" style="margin:10px 0px 0px 20px; width: 45vw; max-height:40px; max-width:150px; font-size: 20px;">Sign Up</button></a>
        <!--<button type="submit" class="btn btn-primary text-center">Login</button>-->
    </form>





  </body>
</html>