<!doctype html>

<html>
<head>
    <title>MoveSafe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/MoveSafe.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!--MAP API-->
    <link href="/css/Routing-ggl.css" rel="stylesheet">
    <script src="/js/API_Routing.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS6-vX7RQf9E6NV3F5rytl_Eh_ALQNIlE&callback=initMap">
    </script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!--<div class="topnav">-->
  <!--<a href="javascript:history.back()" id="navigationBar">Back</a>-->
  <!--<a href="/" id="navigationBar">Home</a>-->
  <!--<a padding="100px" id="navigationBarTitle" style="position:absolute;right:0;font-weight:bold; font-family:Century Gothic" align="right">Routing</a>-->
<!--</div>-->
<div class="topnav card-block">
  <a href="/" id="navigationBar hover"><img src="/images/home.png" height="20" width="20" style="position:absolute;right:18px;top:18px" ></a>
    <a href="/" id="navigationBar hover"><img src="/images/Back.png"height="20" width="20" style="position:absolute;left:11px;top:18px"></a>
  <a style="position:absolute;left:36vw;top:4px" id="navigationBarTitle" >Routing</a>
</div>

<br>

<!--map-->
    <param id="origin-input location" value= "{{start}}" name="start">
    <param id="destination-input location" value="{{destination}}" name="destination">
<div id="right-panel"></div>

<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>