<!doctype html>

<html>
<head>
    <title>MoveSafe - Safe Path</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/MoveSafe.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

    <![endif]-->
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>


<div class="topnav">
  <a href="javascript:history.back()" id="navigationBar">Back</a>
  <a href="/" id="navigationBar">Home</a>
  <a padding="100px" id="navigationBarTitle" style="position:absolute;right:0;font-weight:bold; font-family:Century Gothic" >Find a safe path</a>
</div>



<!--place holder--> 
  <form action="/safePath" method="post">
    <div class="form-group centered">
      <input required id="origin-input" class="controls"  type="text" name="start" placeholder="enter an origin location">
      <button  id="reset-button-start" onclick="clearTextStart()">x</button>
    </div>
    <div class="form-group centered">
      <input required id="destination-input" class="controls"  type="text" name="destination" placeholder="enter a destination location">
      <button  id="reset-button-dest" onclick="clearTextDest()">x</button>
    </div>
    <br>
    <div class="form-group centered"> 
      <div class="col-sm-offset-2 col-sm-10">
        <button id="reset-button-dest" style="position:absolute; right:24vw; font-size:10px" type="submit">new search</button>
      </div>
    </div>
  </form>




<br>
<br>
<!--map--> 
<div class="centered" >
    <img style= "width: 90vw; height: 60vh;"src= "/images/PlaceHolderSafePath.png" alt="Image not responding">
</div>


<br>
<!--information of path-->


<!--<div class="pathInfo centered">-->
    <!--<div class="col-sm-6 pathInfo" style="float: left; display: inline-block; padding-left: 10%;">-->
        <!--<h5>Selected Path Information</h5>-->
        <!--<ul>-->
            <!--<ol>Safety Level: 1</ol>-->
            <!--<ol>ETA: 2 min</ol>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div class="col-sm-6">-->
        <!--<button  id="reset-button" type="submit" style="display: inline-block; font-style: italic;">Start</button>-->
    <!--</div>-->
<!--</div>-->


<div class="card text-center ml-5 form-group centered" style="float: left; display: inline-block; width: 90vw; height: 26vh;">
    <div class="card-body" style="display: inline-block;">
        <h5 class="card-title">Selected Path Information</h5>
        <p class="card-text">
            <ul>
                <ol style="padding-left: 0px;">Safety Level: 1</ol>
                <ol style="padding-left: 0px;">ETA: 2 min</ol>
            </ul>
        </p>
    </div>
    <div>
        <a href="/routing" class="btn btn-info btn-lg" style="display: inline-block;">Start</a>
    </div>
</div>

<br>


<!--<div class="btn-toolbar mb-5 centered" role="toolbar" aria-label="Toolbar with button groups" style="float: left; display: inline-block; padding-left: 10%;">-->
    <!--<div class="input-group">-->
        <!--<div class="input-group-prepend">-->
            <!--<div>-->
                <!--<h5>Selected Path Information</h5>-->
                <!--<ol>Safety Level: 1</ol>-->
                <!--<ol>ETA: 2 min</ol>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="btn-group ml-4 pl-4" role="group" aria-label="First group">-->
        <!--<button type="button" class="btn btn-light btn-lg ">Start</button>-->
    <!--</div>-->
<!--</div>-->








<script src="https://code.jquery.com/jquery.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function(event) { 
        document.getElementById("origin-input").value = "{{start}}";
        document.getElementById("destination-input").value = "{{destination}}";
    });
</script>
<script src="/routes/SafePath.js"></script>

   <!-- <script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          mapTypeControl: false,
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13
        });

        new AutocompleteDirectionsHandler(map);
      }

       /**
        * @constructor
       */
      function AutocompleteDirectionsHandler(map) {
        this.map = map;
        this.originPlaceId = null;
        this.destinationPlaceId = null;
        this.travelMode = 'WALKING';
        var originInput = document.getElementById('origin-input');
        var destinationInput = document.getElementById('destination-input');
        var modeSelector = document.getElementById('mode-selector');
        this.directionsService = new google.maps.DirectionsService;
        this.directionsDisplay = new google.maps.DirectionsRenderer;
        this.directionsDisplay.setMap(map);

        var originAutocomplete = new google.maps.places.Autocomplete(
            originInput, {placeIdOnly: true});
        var destinationAutocomplete = new google.maps.places.Autocomplete(
            destinationInput, {placeIdOnly: true});

        this.setupClickListener('changemode-walking', 'WALKING');
        this.setupClickListener('changemode-transit', 'TRANSIT');
        this.setupClickListener('changemode-driving', 'DRIVING');

        this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
        this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');

        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(originInput);
        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(destinationInput);
        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(modeSelector);
      }

      // Sets a listener on a radio button to change the filter type on Places
      // Autocomplete.
      AutocompleteDirectionsHandler.prototype.setupClickListener = function(id, mode) {
        var radioButton = document.getElementById(id);
        var me = this;
        radioButton.addEventListener('click', function() {
          me.travelMode = mode;
          me.route();
        });
      };

      AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function(autocomplete, mode) {
        var me = this;
        autocomplete.bindTo('bounds', this.map);
        autocomplete.addListener('place_changed', function() {
          var place = autocomplete.getPlace();
          if (!place.place_id) {
            window.alert("Please select an option from the dropdown list.");
            return;
          }
          if (mode === 'ORIG') {
            me.originPlaceId = place.place_id;
          } else {
            me.destinationPlaceId = place.place_id;
          }
          me.route();
        });

      };

      AutocompleteDirectionsHandler.prototype.route = function() {
        if (!this.originPlaceId || !this.destinationPlaceId) {
          return;
        }
        var me = this;

        this.directionsService.route({
          origin: {'placeId': this.originPlaceId},
          destination: {'placeId': this.destinationPlaceId},
          travelMode: this.travelMode
        }, function(response, status) {
          if (status === 'OK') {
            me.directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      };

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUdtXMIyuZHmdW2tB8_dvlFtpKIkTVZi4&libraries=places&callback=initMap"
        async defer></script>
        -->
</body>
</html>