<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="/css/MoveSafe.css" rel="stylesheet">
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="/css/bootstrap.css" rel="stylesheet">
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


  </head>

  <body>




  <div class="topnav card-block">
      <div>
          <a id="navigationBarTitle" >Move Safe</a>
      </div>
  </div>



<div class="col-md-6 main-div mx-auto" >
    <div class="card centered" style="margin:5vh 0 0 0;">
        <img class="card-img-top" src="images/erwitt.jpg" alt="Card image cap">
        <div class="card-block" style="width: 91vw";>
            <div class="card-header" style="font-family:Century Gothic; ">
                <h3>Come and join us!</h3>
            </div>
        </div>
    </div>
</div>

<div >
<div style="position:relative;top:3vh">
    <form action="/index">
        <div class="form-group col-md-6">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1" style="font-weight:bold; font-size:30px; padding: 5px 5px 5px 5px;">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-primary text-center" style="margin:10px 10px 0px 18px; height:45px; width:375px; font-size: 25px;">Sign up!</button>
     </form> 
</div>
</div>
  </body>
</html>