.header{
    text-align: center;
    font-size: 5vh;
    position: relative;
    top: 0;
}

.header:after{
    content:' ';
    display:block;
    border:1px solid black;
}

.search-button{
    height: 10vh;
    width: 30vw;
}

.centered{
    text-align: center;
}
.places-button{
    height: 10vh;
    width: 30vw;
    margin: 5px 4px;
}
